.div1{
    height: 400px;
    width: 400px;
    background-color: aqua;
}
.div2{
    height: 400px;
    width: 400px;
    background-color: aqua;
}
.active{
    background-color: red;
}
div{
    background-color: paleturquoise;
    width: 100px;
    height: 100px;
}